.image-file {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
}
#img-div {
    background: lightyellow;
    padding: 10px;
    margin: 0;
}
h1 {
    background: gray;
    color: white;
}
body{
    text-align: center;
    color: black;
}
p{
    background: lightskyblue;
    text-align: justify;
    padding: 50px;
}