nav {
position: fixed;
top: 0px;
width: 100%;
display: flex;
}
@media(max-width:600px){
    nav{
        align-items: center;
        margin-top: 10px;
        width: 100%;
    }
}
@media(max-width:375px){
    nav{
        display: none;
    }
}